/*Meyer’s CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a:link,a:visited,a:hover {
    text-decoration: none;
    color:inherit;
}

/* VARIABLES */
:root {
    --transition-time: 0.5s;
}

body {
    font-family:sans-serif;
    position: relative;
}
header {
    position:fixed;
    height:100px;
    display: flex;
    width:100%;
  
}

section {
    height:100vh;
    padding-top: 100px;
    font-size:0.8em;
    box-sizing: border-box;
   
}
section .container {
   
    padding:0 10px;
}
#interests nav {
    display: flex;
    justify-content: space-between;
    margin:10px 0;  
    background-color: whitesmoke;
}
#interests nav a {
    padding:5px;
    flex-grow:1;
    transition: color var(--transition-time);
    transition: background-color var(--transition-time);
    text-align: center;
    cursor: grab;
    font-weight: bold;
}
#interests nav a.selected {
    padding:5px 10px;
    background-color: black;
    color: whitesmoke;
   
}
article{
    display: none;
    opacity: 0;
}
article.selected {
    display: block;
    opacity: 1;
}
.story {
    height: 8em;
}
.navigation {
    position: absolute;
    top:50%;
    left:0;
    right: 0;
    height:10%;
}
.navigation a {
    position: absolute;
    width: 2rem;
    height: 3rem;
    background-color: #b2bcc022;
    opacity: 0.2;
    font-size: 2rem;
    text-align: center;
    cursor: grab;

}
.navigation a:hover {
    opacity: 0.8;
}
#back-button {
    left:10px;
 }
#forward-button {
   right:10px;
}
#pause-button {
    right:45%;
 }
#who {
    background-color: #c3c8cd
    /* background-color: #009543; */
}
#why {
    /* background-color: darkcyan; */
    background-color:#606a74

}
#how {
    background-color: #b2bcc0
    /* background-color: lightcoral */
}
#face {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    margin: 10px;
    border: thick solid white;
}
#my-name {
    font-size: 2em;
    margin: 1rem;
}
.picture {
    margin:5px 0;
    position: relative;
}
.picture img {
    width: 100%;
    display: block;
}
p {
    margin:5px;
    text-align: justify;
}
em {
    font-style: italic;
    font-weight: bold;
}
h1 {
    margin:10px;

}

.hidden {
    display: none;
}
article.fading-out{
    opacity: 0;
    transition: opacity var(--transition-time) ease-in;
}
article.fading-in{
   display: block;
   animation: fade-in var(--transition-time) ease-out;
}

footer nav {
    display: flex;
    width:100%;
    justify-content: center;
}
footer {
    position: absolute;
    bottom:0px;
    width:100%;
}
.fcc-logo {
    background-color: darkgreen;
}
.fcc-logo, .codewars-logo, .github-logo {
    height:24px;
    padding:4px;
    
}
@media (min-width:640px){
    header {
        left:10vw;
    }
    section .container {
        width:80vw;
        padding:0 10vw;
    } 
}
@media (min-width:1025px) {
    header {
        left:20vw;
    }
    section .container {
        width:60vw;
        padding:0 19vw;
    } 
    
}
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

